html {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

    background-color: #FBF4D8;
}

body{
    margin: 0;
}

ul {
    padding-left: 0;
}