.link-list {
    max-width: 300px;
    width: 300px;
}

.link-list ul{
    display: flex;
    flex-direction: column;
}


.link-list ul li{
    margin-bottom: 1rem;
}

.link-list ul li:last-child {
    margin-bottom: 0;
}

.list-title {
    font-size: 1.5rem;
    color: #1C8D99;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1.5rem;
}
